<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>
<body>
    <h1>Predict how much Total Weight you can Lift as an Olympic Bro... CLEAN & JERK + SNATCH</h1>
    <p>
        Enter how much you weigh... in pounds, Bro
    </p>
    <form method="post" action="/">
        <input type="number" name="bw" placerholder="Your Bodyweight">
        <input type ="submit">
    </form>
   <!-- <p> Your predicted weight lifted is </p> -->
    <p> {{mylifts}} </p>

</body>
</html>
